MODE='DEV'
PORT=3000
CLIENT_ORIGIN='http://localhost:3001'

DB_HOST='localhost'
DB_PORT=5432
DB_USERNAME='postgres'
DB_PASSWORD='postgres'
DB_NAME='parking-system-db'

JWT_SECRET='secret'
JWT_EXPIRES_IN='1d'
